@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

@import './scss/base/reset';

// Color Variables. I defined it at the root of the project so that is available for all documents inside. If I want to change some color I just need to modify here and the change apply in all site.
:root {
  // Primary Colors 
--color-purple: hsl(259, 100%, 65%);
--color-light-red: hsl(0, 100%, 67%);

// Neutral Colors
--color-white: hsl(0, 0%, 100%);
--color-off-white: hsl(0, 0%, 94%);
--color-light-grey: hsl(0, 0%, 86%);
--color-smokey-grey: hsl(0, 1%, 44%);
--color-off-black: hsl(0, 0%, 8%);

// Fonts 

/* Poppins regular (400) */
--font-poppins: 'Poppins', sans-serif;
--font-weight-poppins-regular: 400;

/* Poppins semibold (700) */
--font-weight-poppins-semibold: 700;

/* Poppins extrabold (800) */
--font-weight-poppins-extrabold: 800;
}


body {
  font-family: 'popins', sans-serif;
  display: grid; // grid are better option because is shorter
  place-content: center; // place-content: center to use with grids
  background-color: var(--color-light-grey);
}
input {
  font-size: 32px;
}
.ageCalculatorContainer {
  width: calc(100% - 20px);
  margin: 100px 15px 15px 15px;
  border-radius: 20px 20px 60px 20px;
  padding: 15px;
  background-color: white;
}
#inputsDate {
  display: flex;
  // flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
  margin: 40px 3px 50px 3px;
  overflow: hidden;
}
#inputsDate label {
  width: 45%;
  height: 100px;
}
label {
  font-weight: var(--font-weight-poppins-semibold);
  color: var(--color-smokey-grey);
  letter-spacing: 3px;
  // margin-left: 5px;
  padding: 5px;
  input {
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-light-grey);
    margin-top: 5px;
    height: 70%;
    font-family: var(--font-poppins);
    padding-left: 8px;
  }
  input:hover {
    border-color: var(--color-purple);
    cursor: pointer;
  }
}
// Circle Button Decoration 
#circleButton {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: var(--color-purple);
  position: absolute;
  left: 150px;
  top: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 38px;
  }
}
#circleButton:hover {
  background-color: black;
  }
// Show result date count

#showResult {
  margin-top: 50px;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 30px;

  #yearResult, #monthResult, #dayResult {
  display: flex;
  flex-direction: row;
  font-family: var(--font-poppins);
  font-style: italic;
  font-size: 42px;
  font-weight: var(--font-weight-poppins-extrabold);
  div {
    color: var(--color-purple);
    margin-right: 10px;
  }
  }
}

// Errors 
label[for="day"] {
  span {
    font-size: 8px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
    display: none;
    padding-left: 5px;
  }
}
label[for="month"] {
  span {
    font-size: 8px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
    display: none;
    padding-left: 5px;
  }
}
label[for="year"] {
  span {
    font-size: 8px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
   display: none;
    padding-left: 5px;
  }
}

// Desktop Desing 

@media (min-width: 1440px){

  .ageCalculatorContainer {
  width: calc(100% - 700px);
  margin: 100px 15px 150px 15px;
  border-radius: 25px 25px 230px 25px;
  padding: 15px;
  background-color: white;
  height: 600px;
}
#inputsDate {
  display: flex;
  // flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
  padding: 5px 200px 0px 50px;
  margin: 40px 30px 50px 10px;
  overflow: hidden;
  column-gap: 30px;
}
#inputsDate label {
  width: 45%;
  height: 100px;
  
}
label {
  font-weight: var(--font-weight-poppins-semibold);
  color: var(--color-smokey-grey);
  letter-spacing: 3px;
  // margin-left: 5px;
  padding: 5px;
  input {
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-light-grey);
    margin-top: 5px;
    height: max-content;
    font-family: var(--font-poppins);
    padding-left: 15px;
  }
  input:hover {
    border-color: var(--color-purple);
    cursor: pointer;
  }
}
// Circle Button Decoration 
#circleButton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--color-purple);
  position: absolute;
  left: 950px;
  top: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 60%;
  }
}
hr {
  margin-right: 120px;
  margin-top: 70px;
}
#showResult {
  #yearResult, #monthResult, #dayResult {
  display: flex;
  flex-direction: row;
  font-family: var(--font-poppins);
  font-style: italic;
  font-size: 82px;
  font-weight: var(--font-weight-poppins-extrabold);
  div {
    color: var(--color-purple);
    margin-right: 10px;
    margin-top: 10px
  }
  }
}

label[for="day"] {
  span {
    font-size: 16px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
    display: none;
    padding-left: 5px;
    width: max-content;
    font-weight: 400;
    margin: 5px
  }
}
label[for="month"] {
  span {
    font-size: 16px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
    display: none;
    padding-left: 5px;
    width: max-content;
    font-weight: 400;
    margin: 5px
  }
}
label[for="year"] {
  span {
    font-size: 16px;
    letter-spacing: 0;
    font-style: italic;
    color: var(--color-light-red);
   display: none;
    padding-left: 5px;
    width: max-content;
    font-weight: 400;
    margin: 5px
  }
}
}