* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
// Button styles
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  border: none;
  outline: none;
  // appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
}

/* Estilos de imágenes */
img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}